.preview {
  min-height: 35vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border: 3px groove rgb(75, 147, 205);
}
.preview .toolbar {
  background-color: rgb(37, 133, 142);
  padding: 10px 20px;
  width: 100%;
  border-bottom: 2px solid darkgreen;
}
.preview #preview {
  min-height: 35vh;
  max-width: 100%;
  padding: 10px;
  overflow-y: auto;
  font-size: 15px;
  background-color: rgb(163, 197, 214);
}
@media (max-width: 992px) {
  .preview {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .preview {
    width: 85%;
  }
}
@media (max-width: 500px) {
  .preview {
    width: 95%;
  }
}
